In [34]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.datasets import load_wine
from sklearn.pipeline import make_pipeline

from sklearn.model_selection import train_test_split
#Standard Scaler
from  sklearn.preprocessing  import StandardScaler
#Multi-layer Perceptron
from sklearn.neural_network import MLPClassifier
#PCA
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [35]:
df = pd.read_csv('../data/adri_data/entrenamiento_postulaciones_vistas18_full.csv', encoding='utf-8')
df.head()

,idaviso,esta_online,titulo,descripcion,contenido,idzona_int,idciudad_int,idmapacalle_int,idtipo_de_trabajo_int,idnivel_laboral_int,...,month,day,dayofweek,hour,valor_educacion,educacion_int,sexo,edad,idpostulante_int,se_postulo
0,1112368645,1,2251799813685248,8703276694892450964,8703347025175418897,7,0,0,1,5,...,2,28,2,14,5,13.0,2,47,441930,1
1,1111784668,1,4611686018427387968,8969207453999031056,8970050213273298529,7,0,0,1,3,...,2,2,4,9,7,15.0,2,29,251480,1
2,1002461239,1,4611686018435776512,6929500613427986992,6929282954141958179,7,0,0,1,5,...,4,6,4,23,10,19.0,1,34,231351,0
3,1112437750,1,1073741824,9188469157526505520,9187906258651316483,7,0,0,1,5,...,4,4,2,6,11,17.0,1,23,487837,1
4,1112397007,-1,4503599627370496,7688990367312560960,7616363225437193320,7,0,0,1,5,...,4,5,3,18,10,19.0,1,21,163934,0

In [36]:
df['se_postulo'] = df['se_postulo'].apply(lambda x: 1 if x > 0 else 0)
df['se_postulo'].unique()

array([1, 0], dtype=int64)

In [37]:
df.drop(['titulo', 'descripcion', 'contenido'], inplace=True, axis=1)

In [38]:
df['decil'] = (df['edad'] // 10) * 10

In [39]:
def dropCols(df):
    cols = df.head(0)    
    cols.drop(['idaviso', 'idpostulante', 'se_postulo'], axis=1, inplace=True)    
    
    # cols.drop(['titulo', 'descripcion', 'contenido'
    #           # 'sepostulo'
    #           ], axis=1, inplace=True)    
    
    # cols = cols[['idtipo_de_trabajo_int', 'idnivel_laboral_int', 'idnombre_area_int',
    #    'month', 'day', 'dayofweek', 'hour', 
    #              'sexo', 'edad', 
    #              # 't_0', 'd_0','c_0', 
    #              # 't_1', 'd_1', 'c_1', 
    #              # 't_2', 'd_2', 'c_2', 
    #              # 't_3', 'd_3', 'c_3'
    #             ]]
    return cols.columns

cols = dropCols(df)
cols

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Index(['esta_online', 'idzona_int', 'idciudad_int', 'idmapacalle_int',
       'idtipo_de_trabajo_int', 'idnivel_laboral_int', 'idnombre_area_int',
       'iddenominacion_empresa_int', 'month', 'day', 'dayofweek', 'hour',
       'valor_educacion', 'educacion_int', 'sexo', 'edad', 'idpostulante_int',
       'decil'],
      dtype='object')

In [40]:
dfix = df.loc[:,cols];
dfix.head()

,esta_online,idzona_int,idciudad_int,idmapacalle_int,idtipo_de_trabajo_int,idnivel_laboral_int,idnombre_area_int,iddenominacion_empresa_int,month,day,dayofweek,hour,valor_educacion,educacion_int,sexo,edad,idpostulante_int,decil
0,1,7,0,0,1,5,142,4066,2,28,2,14,5,13.0,2,47,441930,40
1,1,7,0,0,1,3,42,199,2,2,4,9,7,15.0,2,29,251480,20
2,1,7,0,0,1,5,4,3979,4,6,4,23,10,19.0,1,34,231351,30
3,1,7,0,0,1,5,2,750,4,4,2,6,11,17.0,1,23,487837,20
4,-1,7,0,0,1,5,157,4099,4,5,3,18,10,19.0,1,21,163934,20

In [41]:
# X will have the numeric data, Y will have the target class

X = np.array(dfix)
y = np.array(df['se_postulo'])

In [42]:
del dfix

In [43]:
clf = make_pipeline(preprocessing.QuantileTransformer(), # PCA(n_components=3), 
                     DecisionTreeClassifier(max_depth=25))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=7506)
clf.fit(X_train, y_train)   

clf.score(X_test, y_test)

pred = clf.predict(X_test)

print (cols)
print (accuracy_score(y_test, pred))

Index(['esta_online', 'idzona_int', 'idciudad_int', 'idmapacalle_int',
       'idtipo_de_trabajo_int', 'idnivel_laboral_int', 'idnombre_area_int',
       'iddenominacion_empresa_int', 'month', 'day', 'dayofweek', 'hour',
       'valor_educacion', 'educacion_int', 'sexo', 'edad', 'idpostulante_int',
       'decil'],
      dtype='object')
0.9098115740660998

In [ ]:
# Index(['esta_online', 'idzona_int', 'idciudad_int', 'idmapacalle_int',
#        'idtipo_de_trabajo_int', 'idnivel_laboral_int', 'idnombre_area_int',
#        'iddenominacion_empresa_int', 'month', 'day', 'dayofweek', 'hour',
#        'valor_educacion', 'educacion_int', 'sexo', 'edad', 'idpostulante_int'],
#       dtype='object')
# 0.92958931165349

In [9]:
# Index(['esta_online', 'idzona_int', 'idciudad_int', 'idmapacalle_int',
#        'idtipo_de_trabajo_int', 'idnivel_laboral_int', 'idnombre_area_int',
#        'iddenominacion_empresa_int', 'month', 'day', 'dayofweek', 'hour',
#        'valor_educacion', 'educacion_int', 'sexo', 'edad', 'idpostulante_int'],
#       dtype='object')
# 1.0

In [10]:
# Index(['idtipo_de_trabajo_int', 'idnivel_laboral_int', 'idnombre_area_int',
#        'month', 'day', 'dayofweek', 'sexo', 'edad'],
#       dtype='object')
# 0.8638474066673939

In [44]:
pred_full_data = clf.predict(X)

In [45]:
df['sepostulo'] = pred_full_data

## File a subir

In [ ]:
top100_full = pd.read_csv("../test_final_100k.csv", encoding='utf-8')

In [ ]:
top100_full = pd.merge(top100_full, df, how='inner', on=['idaviso','idpostulante'])
top100_full.shape

In [ ]:
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.head()

In [ ]:
top100_full[top100_full['sepostulo'] == 1].shape

In [ ]:
top100_full[top100_full['sepostulo'] == 0].shape

In [ ]:
top100_full[top100_full['sepostulo'] == -1].shape

In [ ]:
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.head()

In [ ]:
top100 = top100_full.groupby('id')['sepostulo'].sum().reset_index()
top100.shape

In [ ]:
top100['sepostulo'] = top100['sepostulo'].apply(lambda x: 1 if x > 0 else 0)

In [ ]:
top100[top100['sepostulo'] == 0].shape

In [ ]:
top100[top100['sepostulo'] == 1].shape

In [ ]:
top100['sepostulo'].unique()

In [27]:
top100_full.fillna(0, inplace=True)

In [28]:
top100[top100['sepostulo'] == -1].shape

(0, 2)

In [30]:
top100.to_csv('../data/adri_data/top100k_arboles_18_full.csv', encoding='utf-8', index=False)

In [11]:
X_full_data = np.array(dfix)
X_full_data

array([[1.11235653e+09, 1.00000000e+00, 5.76460752e+17, ...,
        1.00000000e+00, 2.40000000e+01, 4.14724000e+05],
       [1.11234626e+09, 1.00000000e+00, 1.15404740e+18, ...,
        2.00000000e+00, 2.60000000e+01, 8.70380000e+04],
       [1.11239791e+09, 0.00000000e+00, 4.05323966e+16, ...,
        1.00000000e+00, 2.70000000e+01, 1.80061000e+05],
       ...,
       [1.11226853e+09, 0.00000000e+00, 2.30584301e+18, ...,
        2.00000000e+00, 2.60000000e+01, 1.67780000e+05],
       [1.11233985e+09, 1.00000000e+00, 0.00000000e+00, ...,
        2.00000000e+00, 3.10000000e+01, 3.42463000e+05],
       [1.11241282e+09, 0.00000000e+00, 4.64827777e+18, ...,
        1.00000000e+00, 5.60000000e+01, 6.84140000e+04]])

In [15]:
df

,idaviso,esta_online,titulo,descripcion,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante,timestamp,valor_educacion,sexo,edad,se_postulo,idpostulante_int,sepostulo
0,1112356526,1,576460752303423488,5850181757109797004,0,0,0,0,0,182,6,qekedek,5412032.408,9.0,1,24,0,414724,0
1,1112346262,1,1154047404513689600,9200867796308722401,0,0,0,0,1,73,480,83zk2R,4027394.612,10.0,2,26,1,87038,1
2,1112397910,0,40532396646334464,5161232066131706144,0,0,0,0,1,152,26,KBaGp2p,2969599.612,10.0,1,27,1,180061,1
3,1112452139,1,9007199254773760,6820714967321280568,0,0,0,0,0,5,17,QNE8J24,893354.793,6.0,2,20,0,236192,0
4,1112249678,0,576460752303423488,8098035492326473800,1,0,10,0,0,182,2082,JBrpa35,9114176.612,10.0,1,26,1,176876,1
5,1112355176,1,576460786663161856,6859721543652999308,0,0,0,1,1,182,1405,EzljmN4,5765979.612,6.0,2,36,1,158290,1
6,1112222762,0,8864812498944,8821107659150661776,0,0,0,0,0,142,33,xkpvMKx,614299.101,6.0,2,23,0,452715,0
7,1112266398,0,8388608,9152558060378523140,0,0,0,0,0,81,1377,2zPYYx1,8921758.612,17.0,1,26,1,30222,1
8,1112410888,0,1152921504606846976,5782059851187898393,0,0,0,0,1,2,145,6zDL04,3627955.612,11.0,2,37,1,86007,1
9,1112430791,1,1099520016448,9095664321871086353,0,0,0,0,0,4,636,1lYAmb,1709713.612,12.0,1,39,1,26389,1
10,1112330281,1,1152921504606846976,9183789695581094016,0,0,0,0,1,45,321,8jVkoM,6553759.612,11.0,2,29,1,103587,1
11,1112448418,1,134217728,4693384414440194184,0,0,0,0,0,14,18,EBxP4J,2030970.612,6.0,1,29,1,142231,1
12,1112033906,1,134217728,2339092310078521984,0,0,0,0,0,182,609,rm0qrKb,2227784.612,10.0,1,34,1,417901,1
13,1112296914,1,1152921504606846978,9150424585944112408,0,0,0,0,0,2,126,lDL31dj,4199931.612,3.0,2,28,1,377628,1
14,1112456069,1,0,5549560666968293504,1,0,481,1,0,136,145,Eze82x0,1652016.243,9.0,1,23,0,153676,0
15,1112247023,0,4612811987053707296,7929053350411633169,0,0,0,0,1,152,19,6rP12vx,8962734.612,10.0,-1,0,1,78388,1
16,1112338408,1,0,4217762350113522456,0,0,0,1,1,137,154,OqrEblv,3050359.043,10.0,2,23,0,226508,0
17,1111459399,1,8933531975680,8750166565487711376,0,0,0,0,1,142,70,YjVaAAw,5922316.612,10.0,2,22,1,285462,1
18,1112191071,0,8800387989504,5297359078878611584,0,0,0,0,0,142,6,W9kdLBa,54427.834,10.0,2,23,0,265292,0
19,1112416203,1,288230376151777280,13545983388418309,1,0,107,0,0,29,491,6rB02LM,3087039.612,10.0,1,26,1,77012,1
20,1112384746,1,4647717014469607424,7602463788631728129,0,0,0,0,0,152,281,Z6eVlb,4704947.612,17.0,1,34,1,290720,1
21,1112345859,1,144115189153792000,8050054423415162392,0,0,0,0,0,2,667,5mdv8ON,5931883.612,10.0,1,22,1,61108,1
22,1112283417,0,144115740520218624,4334161956665819272,0,0,0,1,0,172,3818,ekNMANp,8320260.612,6.0,1,30,1,352557,1
23,1112468434,1,68729962496,8824416495480080512,0,0,0,0,0,5,677,owEkJKZ,188067.773,6.0,2,37,0,397156,0
24,1112472232,0,288511853275914240,8233742732296783880,0,0,0,0,0,29,71,A36NPE1,1094902.035,6.0,2,22,0,117666,0
25,1112454993,1,288230378299195392,6971572506821935112,0,0,0,1,0,182,657,JBdGMLO,1769855.021,11.0,1,29,0,169312,0
26,1112469929,1,1073741825,5980855071989039104,1,0,611,0,0,2,658,OqLkLQr,1161562.212,12.0,1,25,0,221165,0
27,1112411901,1,4437573632,4468704444359379168,0,0,0,0,1,136,147,96X1ADa,1299934.612,6.0,1,24,1,109786,1
28,1112447781,1,0,0,1,0,37,0,0,14,274,a0RE6D,2104954.229,8.0,1,33,0,306183,0
29,1112377369,1,288230378299195392,5850211100468970560,0,0,0,0,0,29,23,Zrwk38,4284855.612,11.0,1,53,1,305068,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9940078,1112217298,0,0,4973099888590979072,0,0,0,0,0,14,145,NzdoYJl,8739980.612,8.0,1,29,1,216303,1
9940079,1112402534,0,360323154561728512,8716953104667333648,0,0,0,0,0,29,70,jkjw0XY,2941639.103,10.0,2,20,0,367884,0
9940080,1112263339,0,17592186044672,3486209630311286273,0,0,0,0,1,89,167,QNL50l4,7644806.612,12.0,2,29,1,237037,1
9940081,1112389353,0,4503600701112320,1297045634838298624,0,0,0,0,1,2,41,kP0L6bm,4503418.612,10.0,1,23,1,368399,1
9940082,1112355153,1,4194304,8720663320664736392,0,0,0,1,0,172,1,6r5eAMj,5854849.612,10.0,2,28,1,76504,1
9940083,1112448000,1,70368744177664,4693947085220741248,0,0,0,0,0,182,18,lD5AYz8,1823092.585,10.0,1,23,0,376646,0
9940084,1112365042,1,720646343487389696,8089031248149742600,0,0,0,0,0,182,1821,96XNwzw,4973598.612,8.0,2,43,1,111233,1
9940085,1112447906,1,0,4613937818241073168,0,0,0,0,0,74,4290,KBrPwBd,473763.077,11.0,1,25,0,183771,0
9940086,1112463317,1,2147483648,4700888384806324272,0,0,0,0,0,116,721,6Y6GJR,1530245.612,6.0,2,38,1,71851,1
9940087,1112280941,1,0,4702955448410849408,0,0,0,0,1,81,128,969za38,8249534.612,6.0,1,24,1,107238,1
9940088,1112458429,1,1052672,8679433981235897344,1,0,166,0,0,14,443,X9kBbjx,796489.050,5.0,2,21,0,269955,0
9940089,1112373777,1,144115189153792000,5846798508561008648,0,0,0,0,0,2,18,PmakWEa,4747132.612,10.0,1,23,1,235188,1
9940090,1112286568,0,1125899906842656,8863867479462019168,0,0,0,0,0,152,1767,JBd2MeW,8265911.612,10.0,1,24,1,168974,1
9940091,1112438818,1,1099511627780,4899708141332906011,0,0,0,0,0,87,134,eOXeGj,2200158.622,8.0,2,44,0,348562,0
9940092,1112418765,1,1,6211809689843269632,0,0,0,0,0,151,8,VNev2ad,3070444.612,9.0,1,24,1,253194,1
9940093,1111753681,1,1152922054362660864,7981574825548318720,0,0,0,0,0,173,884,0zPaz99,1360469.612,10.0,1,20,1,5200,1
9940094,1112396113,0,70368744177664,7792354423761567809,1,0,243,0,0,26,81,X9k2GRL,4205969.612,10.0,2,26,1,269712,1
9940095,1112442583,1,0,6506892238172457233,0,0,0,0,0,56,1772,jk51wJb,1748397.612,10.0,1,26,1,360685,1
9940096,1112304171,0,262144,7237988326845202439,0,0,0,0,0,163,72,60WDE3,3840558.612,17.0,1,37,1,66454,1
9940097,1112346591,1,0,7926898294142272128,0,0,0,0,0,118,1344,W9Wxw2N,6014032.612,6.0,1,31,1,264801,1
9940098,1112325091,0,35261682548736,6135314487029270664,0,0,0,0,1,29,1,GNZRZKv,6668903.612,6.0,2,23,1,163961,1
9940099,1112402904,0,134217729,9116420368171567232,0,0,0,0,0,151,656,6PQM2M,2619343.902,9.0,1,30,0,71024,0
9940100,1112373831,1,0,7094226594810560769,0,0,0,0,1,29,71,6pV5RR,4280727.612,12.0,1,34,1,73679,1
9940101,1112291695,0,1152921504606846976,3675792728918589984,0,0,0,0,0,2,11,NREX4M,7963763.612,10.0,2,32,1,209773,1
9940102,1112200612,1,1152921504606846976,6917608201622126624,0,0,0,0,3,156,1021,zv6ZepD,5331182.612,6.0,2,36,1,455465,1
9940103,1111305364,1,70385924046848,7891995415810558112,0,0,0,0,0,0,368,W9A51ll,6193275.612,6.0,2,36,1,258422,1
9940104,1112410114,1,0,3531249302624068352,0,0,0,0,0,41,202,jkjk1Ar,1702484.612,10.0,1,22,1,367098,1
9940105,1112268533,0,2305843009213694464,8197958728912209920,0,0,0,0,0,161,1063,JBX4Pw5,8238136.612,12.0,2,26,1,167780,1
9940106,1112339848,1,0,8858252995195114640,0,0,0,0,0,142,70,dYjr1xa,5506101.612,6.0,2,31,1,342463,1
9940107,1112412815,0,4648277765399904256,8755153637145182730,0,0,0,0,1,41,201,69kkA3,3512278.612,12.0,1,56,1,68414,1

In [27]:
test = top100_full.sort_values('sepostulo', ascending=False)
test.shape

(100000, 2)

In [28]:
# test.drop_duplicates('id', inplace=True)

In [29]:
test.shape

(100000, 2)

In [24]:
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']

Series([], Name: sepostulo, dtype: int32)