In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('../data/adri_data/entrenamiento_postulaciones_vistas4.csv', encoding='utf-8')
df.head()

,idaviso,esta_online,titulo_analista,titulo_tecnico,titulo_administrativo,titulo_vendedor,titulo_comercial,titulo_ventas,titulo_sr,titulo_importante,...,idnivel_laboral,idnombre_area,iddenominacion_empresa,idpostulante,timestamp,valor_educacion,sexo,edad,se_postulo,idpostulante_int
0,1112448580,1,0,1,0,0,0,0,0,0,...,5,136,439,rmRqLJA,5.414380e+06,10.0,2,25,1,419937
1,1112288191,0,0,0,0,0,0,0,0,0,...,3,118,1546,96XeeQ8,1.196588e+07,-1.0,-1,-1,1,112588
2,1112339031,1,0,0,0,0,0,0,0,0,...,0,24,160,N5lJLJ,1.014115e+07,11.0,2,30,1,205868
3,1112198634,0,0,0,0,0,0,0,0,0,...,0,116,202,RzrrPbY,1.057532e+07,12.0,2,27,1,250580
4,1112453169,1,0,0,0,1,0,0,0,0,...,0,182,1131,lDLQ6W8,5.387287e+06,6.0,1,33,1,378841

In [3]:
cols = df.head(0)
cols.drop(['se_postulo', 'idaviso', 'idpostulante'],inplace=True, axis=1)
cols = cols.columns
cols

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Index(['esta_online', 'titulo_analista', 'titulo_tecnico',
       'titulo_administrativo', 'titulo_vendedor', 'titulo_comercial',
       'titulo_ventas', 'titulo_sr', 'titulo_importante', 'titulo_jefe',
       'titulo_empresa', 'titulo_asistente', 'titulo_supervisor', 'titulo_jr',
       'titulo_contable', 'desc_experiencia', 'desc_empresa', 'desc_trabajo',
       'desc_excluyente', 'desc_manejo', 'desc_importante', 'desc_equipo',
       'desc_tareas', 'desc_cliente', 'desc_clientes', 'desc_conocimientos',
       'idzona', 'idciudad', 'idmapacalle', 'idtipo_de_trabajo',
       'idnivel_laboral', 'idnombre_area', 'iddenominacion_empresa',
       'timestamp', 'valor_educacion', 'sexo', 'edad', 'idpostulante_int'],
      dtype='object')

In [4]:
mintimestamp = df['timestamp'].min()
df['timestamp'] = df['timestamp']-mintimestamp
mintimestamp = df['idpostulante_int'].min()
df['idpostulante_int'] = df['idpostulante_int']-mintimestamp

In [5]:
dfix = df.loc[:,cols];
dfix.head()

,esta_online,titulo_analista,titulo_tecnico,titulo_administrativo,titulo_vendedor,titulo_comercial,titulo_ventas,titulo_sr,titulo_importante,titulo_jefe,...,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,timestamp,valor_educacion,sexo,edad,idpostulante_int
0,1,0,1,0,0,0,0,0,0,0,...,0,0,5,136,439,1710732.612,10.0,2,25,419937
1,0,0,0,0,0,0,0,0,0,0,...,0,0,3,118,1546,8262235.612,-1.0,-1,-1,112588
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,24,160,6437500.612,11.0,2,30,205868
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,116,202,6871675.612,12.0,2,27,250580
4,1,0,0,0,1,0,0,0,0,0,...,0,0,0,182,1131,1683639.612,6.0,1,33,378841

In [6]:
# X will have the numeric data, Y will have the target class

X = np.array(dfix)
y = np.array(df['se_postulo'])

In [7]:
# Split into train and test, use only 10% as test (15 flowers)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=7506)
X_test

array([[0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        2.10000e+01, 4.40460e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        3.50000e+01, 1.20990e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 2.00000e+00,
        3.50000e+01, 1.79257e+05],
       ...,
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        2.60000e+01, 1.07111e+05],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        3.20000e+01, 2.92883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 2.00000e+00,
        2.70000e+01, 3.39010e+05]])

In [8]:
clf = DecisionTreeClassifier(max_depth=45)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=45,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [9]:
# predict the response
pred = clf.predict(X_test)
pred.shape

(994011,)

In [10]:
print (accuracy_score(y_test, pred))
#max_depth 5 = 0.814749151461
#max_depth 7 = 0.817316995361
#max_depth 9 = 0.830302649952
#max_depth 11 = 0.836146456009
#max_depth 13 = 0.83922786869
#max_depth 15 = 0.842802976816
#max_depth 17 = 0.846111363886
#max_depth 19 = 0.848940699018
#max_depth 21 = 0.852105788893
#max_depth 23 = 0.85494662964
#max_depth 25 = 0.857750861614
#max_depth 27 = 0.860772654293
#max_depth 29 = 0.86390636522
#max_depth 31 = 0.8661049835
#max_depth 35 = 0.869442657588
#max_depth 41 = 0.871770975519
#max_depth 43 = 0.872110914121
#max_depth 44 = 0.872015731313
#max_depth 45 = 0.872120327805
#max_depth 46 = 0.871702987799
#max_depth 47 = 0.872014685348
#max_depth 49 = 0.871613034815
#max_depth 51 = 0.8717626078
#max_depth 61 = 0.8717626078

0.862891859345621

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7506)

In [ ]:
clf = DecisionTreeClassifier(max_depth=45)
clf.fit(X_train, y_train)

In [ ]:
# predict the response
pred = clf.predict(X_test)
pred.shape

In [ ]:
print (accuracy_score(y_test, pred))

In [11]:
pred.size

994011

In [12]:
df.size

407544428

In [19]:
X_full_data = np.array(dfix)
X_full_data

array([[ 1.00000e+00,  0.00000e+00,  1.00000e+00, ...,  2.00000e+00,
         2.50000e+01,  4.19937e+05],
       [ 0.00000e+00,  0.00000e+00,  0.00000e+00, ..., -1.00000e+00,
        -1.00000e+00,  1.12588e+05],
       [ 1.00000e+00,  0.00000e+00,  0.00000e+00, ...,  2.00000e+00,
         3.00000e+01,  2.05868e+05],
       ...,
       [ 0.00000e+00,  0.00000e+00,  1.00000e+00, ...,  1.00000e+00,
         2.90000e+01,  1.71701e+05],
       [ 1.00000e+00,  0.00000e+00,  0.00000e+00, ...,  1.00000e+00,
         2.80000e+01,  2.75100e+05],
       [ 1.00000e+00,  0.00000e+00,  0.00000e+00, ...,  2.00000e+00,
         4.50000e+01,  2.34291e+05]])

In [20]:
pred_full_data = clf.predict(X_full_data)

In [21]:
pred_full_data

array([1, 1, 1, ..., 0, 1, 1], dtype=int64)

In [22]:
df['sepostulo'] = pred_full_data

In [44]:
df

,idaviso,timestamp,valor_educacion,sexo,edad,idtitulo,idzona,idciudad,idmapacalle,idtipo_de_trabajo,idnivel_laboral,idnombre_area,iddenominacion_empresa,se_postulo,idpostulante,sepostulo
0,1112363488,8.617918e+06,12,1,34,15677,0,0,0,0,1,151,34,1,356027,1
1,1112299213,1.101489e+07,9,2,24,9371,0,0,0,0,0,182,127,1,396236,1
2,1112425871,6.232296e+06,16,2,25,10775,0,0,0,0,1,94,838,1,125047,0
3,1112208765,1.005179e+07,11,2,32,15848,0,0,0,0,0,5,139,1,158791,1
4,1112377689,4.856018e+06,10,1,26,20003,0,0,0,0,0,182,391,1,29737,1
5,1111970596,4.348430e+06,10,1,25,13340,0,0,0,0,0,14,531,0,168876,0
6,1112286978,5.802213e+06,8,1,42,1311,0,0,0,0,0,2,1090,0,405679,0
7,1112379323,3.462293e+06,6,2,36,13964,0,0,0,0,1,142,2891,0,77670,0
8,1112487359,3.743495e+06,8,2,24,8724,0,0,0,0,0,182,527,0,384393,0
9,1112429938,5.561723e+06,6,2,36,15892,0,0,0,0,0,5,25,0,210534,0
10,1112320536,8.877642e+06,11,1,36,858,1,0,518,0,1,114,3669,1,173456,1
11,1112476268,3.837981e+06,9,1,28,1492,0,0,0,1,0,2,929,0,268858,0
12,1112196813,5.578755e+06,6,1,24,5755,0,0,0,0,1,173,72,0,181525,0
13,1112132555,9.712118e+06,6,1,19,19459,0,0,0,0,0,182,865,1,331823,1
14,1112460830,4.695541e+06,5,2,20,4523,0,0,0,0,1,182,786,0,100821,1
15,1112451106,4.823979e+06,6,2,18,19851,0,0,0,1,1,182,1321,0,239473,0
16,1112216179,8.663005e+06,15,1,36,4725,0,0,0,0,1,152,94,0,270635,0
17,1112278019,4.720945e+06,12,2,47,7272,0,0,0,0,0,40,264,1,47000,1
18,1112432376,5.438393e+06,6,1,23,13252,0,0,0,1,1,14,521,0,201258,0
19,1112196813,5.644823e+06,9,2,24,5755,0,0,0,0,1,173,72,0,98441,1
20,1112420529,6.263967e+06,7,1,39,8994,1,0,232,0,0,130,2761,0,128476,0
21,1112430991,5.887294e+06,10,2,37,8391,0,0,0,0,0,29,571,1,212646,0
22,1112403397,4.888828e+06,12,2,27,7431,1,0,140,0,3,163,1554,1,71334,1
23,1112421220,5.907336e+06,12,1,34,3783,0,0,0,0,1,173,1134,0,184251,0
24,1112094756,4.604948e+06,9,1,28,15979,0,0,0,1,0,25,8,0,84050,0
25,1112398171,7.254046e+06,11,1,25,15409,0,0,0,0,1,151,3947,1,149535,1
26,1112348590,9.044776e+06,12,2,27,19193,0,0,0,0,0,182,2,1,264571,1
27,1111413600,3.588094e+06,8,1,33,13344,1,0,76,1,2,14,1624,0,82479,0
28,1112267166,1.098261e+07,10,1,21,10518,0,0,0,0,0,182,2037,1,17720,1
29,1112479500,3.757608e+06,8,2,37,20044,0,0,0,0,0,182,2,0,367900,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15849067,1112455254,4.781233e+06,8,2,37,13403,0,0,0,0,0,142,687,0,56759,0
15849068,1112470587,4.070999e+06,5,2,25,14575,0,0,0,0,0,130,29,0,222849,0
15849069,1112147486,4.804419e+06,12,1,44,16120,0,0,0,0,3,41,129,0,277625,0
15849070,1112312237,8.502943e+06,10,1,25,4618,0,0,0,0,1,2,21,0,67139,0
15849071,1112496995,3.392187e+06,11,2,30,5323,1,0,282,0,0,5,1271,0,130202,0
15849072,1112421913,5.546698e+06,10,1,24,15614,0,0,0,0,0,151,32,0,45873,0
15849073,1112431322,5.994927e+06,8,2,48,8536,0,0,0,0,2,29,847,1,311202,0
15849074,1112470587,3.298176e+06,4,2,22,14575,0,0,0,0,0,130,29,0,376965,0
15849075,1112458007,4.755127e+06,9,1,30,5353,0,0,0,0,1,111,40,1,331148,1
15849076,1112361408,8.650816e+06,11,1,32,12173,0,0,0,0,0,32,3655,0,127178,0
15849077,1112284410,1.021854e+07,12,1,29,8563,1,0,21,0,5,14,688,1,24193,1
15849078,1112303405,8.500456e+06,10,2,41,6803,0,0,0,0,0,33,626,0,30794,0
15849079,1112340866,8.025726e+06,9,1,28,19466,0,0,0,0,0,182,194,1,184801,1
15849080,1112262299,1.171605e+07,17,2,26,10972,0,0,0,0,0,91,8,1,142430,1
15849081,1112431304,5.489833e+06,10,1,22,15413,0,0,0,1,0,151,1655,0,171418,0
15849082,1111753681,1.139659e+07,11,1,21,6229,0,0,0,0,0,173,865,1,204937,1
15849083,1112255878,1.197271e+07,6,2,23,14383,0,0,0,0,2,81,3418,1,136642,1
15849084,1112356063,8.565241e+06,5,1,22,4125,0,0,0,0,0,142,8,0,364641,0
15849085,1112418557,6.536621e+06,6,1,23,9542,0,0,0,0,1,29,138,1,7200,1
15849086,1112461589,3.584296e+06,12,1,32,919,1,0,21,0,5,114,1632,0,17182,0
15849087,1112458667,4.455893e+06,12,1,28,10605,0,0,0,6,1,137,4309,1,357388,1
15849088,1112355178,6.577326e+06,12,1,32,12475,0,0,0,0,0,182,139,0,268772,0
15849089,1111903673,5.223288e+06,5,2,25,9098,0,0,0,0,2,77,1130,0,147192,0
15849090,1111378669,6.078575e+06,10,1,23,1947,1,0,296,1,0,182,2245,0,103756,0
15849091,1112453405,3.450596e+06,11,2,37,5511,0,0,0,0,0,2,1170,0,61524,0
15849092,1112322670,8.507450e+06,10,1,33,8742,0,0,0,0,0,29,25,0,67205,0
15849093,1112463032,4.586662e+06,18,1,27,8802,1,0,63,0,0,29,233,0,328672,0
15849094,1111790454,1.181679e+07,9,2,24,5147,0,0,0,0,0,14,671,1,226526,1
15849095,1112393398,6.171624e+06,10,1,23,6860,0,0,0,0,0,36,714,0,336908,1
15849096,1112472823,3.900226e+06,11,2,27,9804,0,0,0,1,1,25,1636,0,366276,0

## File a subir

In [23]:
top100_full = pd.read_csv("../test_final_100k.csv", encoding='utf-8')

In [24]:
#id_postulantes = pd.read_csv('../data/adri_data/entrenamiento_id_postulantes.csv', encoding='utf-8')
# id_postulantes.drop('Unnamed: 0', axis=1, inplace=True)
#id_postulantes.shape
#id_postulantes.head()

In [25]:
#top100_full = pd.merge(top100, id_postulantes, how='left', on='idpostulante')
#top100_full.shape

In [26]:
#top100_full.drop('idpostulante', inplace=True, axis=1)
#top100_full.rename({'idpostulante2':'idpostulante'}, inplace=True, axis=1)
#top100_full.head()

In [27]:
top100_full = pd.merge(top100_full, df, how='left', on=['idaviso','idpostulante'])
top100_full.shape

(100000, 43)

In [28]:
top100_full = top100_full[['id', 'se_postulo', 'sepostulo']]
top100_full.head()

   id  se_postulo  sepostulo
0   0         NaN        NaN
1   1         NaN        NaN
2   2         NaN        NaN
3   3         NaN        NaN
4   4         NaN        NaN

In [29]:
top100_full.fillna(0, inplace=True)

In [30]:
top100_full['se_postulo'] = top100_full['se_postulo'].astype('int')
top100_full['sepostulo'] = top100_full['sepostulo'].astype('int')
top100_full.head()

   id  se_postulo  sepostulo
0   0           0          0
1   1           0          0
2   2           0          0
3   3           0          0
4   4           0          0

In [31]:
top100_full.loc[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1), 'sepostulo'] = 1
top100_full[(top100_full['sepostulo'] == 0) & (top100_full['se_postulo'] == 1)]['sepostulo']

Series([], Name: sepostulo, dtype: int32)

In [32]:
top100_full.drop('se_postulo', axis=1, inplace=True)

In [33]:
top100_full[top100_full['sepostulo'] == 1].shape

(34654, 2)

In [34]:
test = top100_full.sort_values('sepostulo', ascending=False)
test.shape

(100000, 2)

In [35]:
# test.drop_duplicates('id', inplace=True)

In [36]:
test.shape

(100000, 2)

In [37]:
# top100_full.rename({'se_postulo' : 'sepostulo'}, inplace=True, axis=1)
test.to_csv('../data/adri_data/top100k_clf45.csv', encoding='utf-8', index=False)

In [42]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt

In [43]:
from sklearn.ensemble import RandomForestClassifier

In [44]:
from sklearn.datasets import load_digits
from sklearn.ensemble import GradientBoostingClassifier

digits = load_digits()
X_digits, y_digits = digits.data, digits.target

# divide el dataset y aplica bÃºsqueda grid

In [9]:
X, y = X_digits[y_digits < 2], y_digits[y_digits < 2]

rf = RandomForestClassifier(n_estimators=300, n_jobs=1)
rf.fit(X, y)
print(rf.feature_importances_)  # un valor por caracterÃ­stica

[  0.00000000e+00   0.00000000e+00   5.81718181e-04   7.13264230e-03
   2.97260599e-04   3.15530272e-03   3.68508718e-03   0.00000000e+00
   0.00000000e+00   2.23993962e-04   1.58262940e-02   1.28247125e-03
   6.36487819e-04   5.14493236e-03   3.46076981e-04   0.00000000e+00
   1.80947916e-04   7.83958578e-03   9.16208015e-03   3.89173252e-02
   7.06862929e-02   2.84874738e-03   6.37622630e-03   0.00000000e+00
   1.58749718e-04   9.05356779e-03   3.13715978e-04   6.07056779e-02
   1.44744845e-01   3.55916252e-03   9.82889144e-02   0.00000000e+00
   0.00000000e+00   2.22067095e-02   6.18280531e-03   3.85758948e-02
   1.61565549e-01   4.89840433e-03   7.36949531e-02   0.00000000e+00
   0.00000000e+00   1.75193795e-02   1.85814854e-02   7.12423373e-03
   6.91643697e-02   4.01591187e-03   3.77947732e-02   0.00000000e+00
   0.00000000e+00   1.05251650e-03   2.59415626e-02   3.31264397e-03
   4.97826517e-04   2.88543969e-03   2.39239436e-04   8.62429108e-04
   0.00000000e+00   0.00000000e+00   1.24224260e-03   8.19296543e-03
   3.95624133e-04   1.99095527e-03   8.77105461e-04   3.68733829e-05]

In [59]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor(n_estimators=100, max_depth=5, learning_rate=.2)
clf.fit(X_train, y_train)

print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

ValueError: bad input shape (65, 11)